.recipeList {
  padding: 20px 50px;
}

.searchContainer {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.searchIcon {
  background-color: #eeeeee;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
  color: #eee;
}