.searchResults {
  display: flex;
  flex-direction: column;
  padding: 20px 50px;
}

.recipeGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px 0;
}