body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: cornflowerblue;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: stretch;
}

nav {
  background-color: rgb(128, 177, 223);
  width: 160px;
  /* height: 200vh; */
  position: relative;
}

nav>ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
  position: sticky;
  top: 10px;
  padding: 10px;
}

nav>ul li {
  list-style-type: none;
}

nav>ul li a {
  text-decoration: none;
  color: black;
}

main {
  margin: 0 20px;
}

.html-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.form-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.item-name {
  width: 50px;
}

input[type="text"]#name {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.sex-item,
.lang-item {
  display: flex;
  gap: 5px;
}

.submit-button {
  background-color: #0080ff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

table {
  border-collapse: collapse;
}

th,
td {
  max-width: 500px;
  min-width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #000;

  vertical-align: top;
  vertical-align: bottom;
  vertical-align: middle;
}

footer {
  background-color: silver;
  padding: 50px;
  text-align: center;
}